.finished-container {
  display: flex;
  height: 100%;
}
.finished {
  //margin-top: 10rem;
  width: 50%;
  margin: auto;
  text-align: center;
  h2 {
    font-size: 6rem;
    margin: 0;
  }
  h3 {
    font-size: 3rem;
    margin: 0 0 5rem 0;

    color: rgb(216, 77, 114);
  }
  i {
    font-size: 10rem;
  }
}